<div class="my-3">
    <h2>Retry, RetryWhen, Scan and Delay</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table" *ngIf="person != null">

                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">{{person.id}}</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <td scope="col">{{person.firstName}}</td>
                </tr>
                <tr>
                    <th scope="col">Email</th>
                    <td scope="col">{{person.email}}</td>
                </tr>
                <tr>
                    <th scope="col">Gender</th>
                    <td scope="col">{{person.gender}}</td>
                </tr>
                <tr>
                    <th scope="col">Phone</th>
                    <td scope="col">{{person.phone}}</td>
                </tr>
                <tr>
                    <th scope="col">Job</th>
                    <td scope="col">{{person.company.title}}</td>
                </tr>

            </table>
        </div>
    </div>

    <button class="btn btn-primary" type="button"  (click)="getData()">
        <span *ngIf="fetching" class="spinner-border spinner-border-sm" 
        aria-hidden="true"></span>
        <span role="status">{{fetching ? 'Fetching...' : 'Fetch Data'}}</span>
      </button>
      <br>
      <br>
      <p>
        Status : <strong [ngClass]="{
            'text-success' : status == 'Data Fetched',
            'text-danger' : status == 'Problem Fetching Data',
        }">{{status}}</strong>
        <span *ngIf="fetching" class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
      </p>
</div>