<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>Ex - 01 (Of)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data :</strong> Of('Avinash', 'Ashwini','Archana')
            </p>

            <div>
                <ul id="elContanier"></ul>
            </div>
        </div>

        <div class="col-md-6">
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data :</strong> Of(&#123;'Avinash', 'Ashwini','Archana'&#125;)
            </p>
            <div>
                <ul>
                    <li>{{obsMsg.a}}</li>
                    <li>{{obsMsg.b}}</li>
                    <li>{{obsMsg.c}}</li>
                </ul>
            </div>

        </div>
    </div>

    <strong>Ex - 02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data :</strong> from(['Avinash', 'Ashwini','Archana'])
            </p>

            <div>
                <ul id="elContanier3"></ul>
            </div>
        </div>

        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data :</strong> Promise to Observable
            </p>

            <div>
                <ul id="elContanier4"></ul>
            </div>
        </div>

        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data :</strong> String to Observable
            </p>

            <div>
                <ul id="elContanier5"></ul>
            </div>
        </div>
    </div>
</div>